# OS / Editor
.DS_Store
.idea/
.vscode/

# Task 1: AWS CDK (TypeScript / Node)
node_modules/
dist/
cdk.out/
*.js
!jest.config.js
*.d.ts

# Task 2: Python / Jetson
__pycache__/
*.py[cod]
.venv/
venv/
*.env

# Task 3: Go
/web/bin/
*.exe
*.out

# AWS Credentials / Logs
.aws/
*.log

# 証明書・鍵関連フォルダ
/certs/
/certificates/

# 証明書・鍵の拡張子指定
*.pem
*.key
*.crt
*.pfx
*.p12
*.csr

# 環境変数・秘密情報ファイル
.env
.env.*
!.env.example

